*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #bfa78d;
}
a{
    text-decoration: none;
}
ul li{
    list-style: none;

}
.top-header{
    background-color: #31241b;
    padding:30px;
   
}
.top-header h2{
     color:white;
    font-family: arial;
    font-weight: bold;
    font-size:50px;
}
.top-header h2{
    text-transform: uppercase;
    font-weight: bold;
}
.menu ul{
    background-color:#75604e;
    display:flex;
    padding:20px
}
.menu a{
    padding:20px;
    color:#bdc3c7;
    text-transform: uppercase;
    font-weight: bold;
}
.menu a:hover{
    color:white;
}
main{
    width:80%;
    margin: 0 auto;
    background-color:#dfd2c3;
}
.corpo{
    padding:15px;
    display:flex;
    text-align: center;
    align-items: center;
    
    
}
.corpo p{
    font-size: 20px;
    color:#31241b;
}
.corpo h1{
    text-transform: uppercase;
    font-size: 50px;
    padding: 10px;
    color:#31241b
}
.menu-foto{
    display:flex;
    justify-content: center;       
    flex-wrap: wrap;
    padding:20px;
    text-align: center;
    max-width: 1450px;
    gap:20px;
    
}
.menu-foto img{
    flex-wrap: wrap;
    width: 80%;
    

    
}
.card-foto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    
}
.descricao{
    width: 300px;
}
.descricao h4,p{
    color:#31241b;
    border-top: ;

}
.valor-produto{
    padding: 5px;
    border:solid #75604e 1px; ;
    border-radius: 15px;
    background-color: #75604e;
    color:white;
    width: 150px;
    
    
}
.tabela-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
.tablela th,td{  
    border:solid 1px #31241b;
    padding:10px

}


.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
    gap: 15px;               
    background-color: #31241b;
    padding: 30px;
}

.rodape img{
    height: auto;         
     width: 35px;       
    display: block;
}
.rodape p{
    color:white;
}
.card-foto{
    border: solid #bfa78d 2px; 
    border-radius: 10px;
    margin-bottom: 9px;
    padding:10px;
    
    
}
h3{
    color:#31241b;
}

/*Css pafina sobre nois */
.Sobre-nos{
    right: 100%;
    padding:20px;
    padding-bottom: 33%;
    text-align: center;
}
.contato{
    right: 100%;
    padding:20px;
    padding-bottom: 67%;
}
.contato-text p{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    
}
.sobre{
    font-size:25px;
    text-align: justify;
}
#Sobre-nois{
    text-transform: uppercase;
    margin-top:100px
}
h4,h3{
    text-transform: uppercase;
    
}
@media (max-width: 600px) {
    #Foto_main img{
        display: none;
    }
}